{{>header}}
<body>
    {{>navbar}}
    <div class="login-div">
    <form action="/login" method="post">
        <h1 class="signin_h">Sign In</h1>
        <label for="email">Email:</label> <br>
        <input type="email" id="email" name="email"><br>

        <label for="password">Password:</label> <br>
        <input type="password" id="password" name="password">
        <br>

        <input class="submit" type="submit" name="submit" value="Signin">
  


    </form>
</div>
    
</body>
</html>